@charset "UTF-8";
/* Colors */
/* Break Points */
h1 {
  padding: 20px 0px;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.23rem;
}

.sidebar__h3 {
  margin-top: 1rem;
}

.btn {
  background-color: #77a0ab;
  color: #ffffff;
  padding: 10px 15px;
  text-transform: uppercase;
  border-radius: 0%;
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn-white {
  background-color: #ffffff;
  color: #77a0ab;
  padding: 10px 20px;
  text-transform: uppercase;
}

.btn-white:hover,
.btn-white:focus {
  text-decoration: none;
  color: black;
}

.flex {
  display: flex;
  align-items: baseline;
}

.container100 {
  width: 100vw;
}

.container50 {
  width: 50vw;
}

#page-content {
  margin: 20px 0px;
}

a:hover {
  text-decoration: none;
}

.subpage__header {
  color: white;
  height: 300px;
  margin-top: -75px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.city_headshot img {
  overflow: hidden;
  height: 200px;
}

@media (max-width: 46.24em) {
  .city_headshot img {
    height: auto;
  }
}

.search {
  height: 32px;
  position: absolute;
  top: -4px;
  right: 0px;
  margin: 0;
  z-index: 1000;
}

.search * {
  outline: none;
  box-sizing: border-box;
}

.search__wrapper {
  position: relative;
}

.search__field {
  width: 50px;
  height: 50px;
  color: transparent;
  font-family: Lato, sans-serif;
  font-size: 1.35em;
  padding: 0.35em 50px 0.35em 0.35em;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent;
}

.search__field:focus {
  border-bottom-color: #ccc;
  width: 50vw;
  color: #2b2b2b;
  cursor: default;
  background: #ffffff;
}

.search__field:focus ~ .search__icon {
  background-color: transparent;
  cursor: pointer;
  pointer-events: auto;
}

.search__icon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  width: 50px;
  height: 50px;
  font-size: 1.35em;
  text-align: center;
  border-color: transparent;
  border-radius: 50%;
  pointer-events: none;
  display: inline-block;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  color: #77a0ab;
}

.search__field::-webkit-input-placeholder {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition-property: top, color;
  transition-property: top, color;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}

.search__field:-moz-placeholder {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition-property: top, color;
  -moz-transition-property: top, color;
  transition-property: top, color;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}

.search__field::-moz-placeholder {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition-property: top, color;
  -moz-transition-property: top, color;
  transition-property: top, color;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}

.search__field:-ms-input-placeholder {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition-property: top, color;
  -ms-transition-property: top, color;
  transition-property: top, color;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}

.search__field::-webkit-input-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: 0.65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}

.search__field:-moz-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: 0.65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}

.search__field::-moz-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: 0.65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}

.search__field:-ms-input-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: 0.65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}

.search__h2 {
  margin-top: 20px;
}

#header-logo {
  display: flex;
  align-items: baseline;
  width: 100vw;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

li a.nav-link {
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.logoNav {
  width: 100%;
}

.blueBG {
  background-color: #77a0ab;
}

.tagline {
  color: #ffffff;
  width: 200px;
}

.headerflex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.headerflex .logo_group {
  display: flex;
  padding: 20px;
  align-items: baseline;
  width: 330px;
}

.headerflex .top-nav {
  float: right;
  display: flex;
  align-items: baseline;
  text-align: center;
}

@media (max-width: 46.24em) {
  .headerflex .top-nav {
    display: none;
  }
}

.headerflex .top-nav a {
  flex-grow: 1;
  margin-right: 50px;
}

@media (min-width: 46.25em) and (max-width: 61.24em) {
  .headerflex .top-nav a {
    margin-right: 0px;
    margin-left: 50px;
  }
}

.navbar-collapse {
  justify-content: center;
  font-size: 0.9em;
}

footer {
  color: #ffffff;
  width: 100vw;
  background-color: #101010;
}

.footerCTA {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 46.24em) {
  .footerCTA {
    flex-direction: column;
    align-items: center;
  }
}

.footCTA__holder {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  justify-content: flex-end;
}

.footCTA__holder:first-of-type {
  border-right: 1px solid #ffffff;
}

@media (max-width: 46.24em) {
  .footCTA__holder:first-of-type {
    border-right: none;
  }
}

.footerCTA__title {
  font-size: 1.2em;
  text-align: center;
  width: 365px;
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.footerCTA__text {
  font-size: .8em;
  margin-bottom: 10px;
  width: 300px;
  text-align: center;
}

.footerbottom__holder {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 15px;
  justify-content: flex-end;
}

.footerbottom__holder span {
  width: 330px;
}

@media (max-width: 46.24em) {
  .footer__holder--quicklink {
    display: none;
  }
}

.footer__line {
  border-bottom: 1px solid #ffffff;
  display: block;
  height: 20px;
  width: 30px;
  margin-bottom: 20px;
}

.footerbottom span {
  font-size: .8em;
}

.footerbottom h4 {
  font-family: 'Raleway', sans-serif;
}

.copyright {
  background-color: #ffffff;
  padding: 20px;
  font-size: .75em;
  color: #d3d2d0;
  text-align: center;
}

.footerbottom {
  display: flex;
}

.footerbottom__menu {
  width: 50%;
  float: right;
  align-self: flex-end;
}

.footerbottom__menu ul {
  padding: 0px;
}

.footerbottom__menu li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.footerbottom__menu li a {
  color: #ffffff;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* theme */
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: '<';
}

[dir='rtl'] .slick-prev:before {
  content: '→';
}

.slick-next {
  right: -25px;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: '>';
}

[dir='rtl'] .slick-next:before {
  content: '<';
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}

.slider {
  width: 70%;
  margin: 40px auto;
}

.slick-slide {
  margin: 0px 5px;
}

.slick-slide img {
  width: 100%;
  height: auto;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out .3s;
}

.slick-active {
  opacity: 1;
}

.slick-current {
  opacity: 1;
}

.jumbotron {
  margin-top: -55px;
  padding: 0;
  overflow: hidden;
  height: auto;
}

@media (min-width: 46.25em) and (max-width: 61.24em) {
  .jumbotron {
    height: 400px;
  }
}

@media (max-width: 46.24em) {
  .jumbotron {
    height: auto;
  }
}

.cta {
  display: flex;
  flex-direction: column-reverse;
  width: 275px;
  height: 350px;
  transition: all .5s;
  align-items: center;
  border: 2px solid white;
}

@media (min-width: 46.25em) and (max-width: 61.24em) {
  .cta {
    width: 100%;
    height: 250px;
  }
}

@media (max-width: 46.24em) {
  .cta {
    background-size: cover;
    margin-bottom: 20px;
    width: 100%;
  }
}

.cta:hover,
.cta:focus {
  border: 2px solid black;
  text-decoration: none;
}

.cta:hover .cta__title,
.cta:focus .cta__title {
  font-size: 1.5rem;
}

.cta__title {
  order: 2;
  height: 115px;
  color: #ffffff;
  text-align: center;
  transition: all .5s;
  font-size: 1.2rem;
}

.cta__text {
  order: 1;
  margin-bottom: 0px;
  color: #ffffff;
  text-align: center;
  height: 100px;
  width: 80%;
  font-size: .85rem;
}

@media (min-width: 46.25em) and (max-width: 61.24em) {
  .cta__text {
    visibility: hidden;
    height: 0px;
  }
}

.about {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.about__art,
.about__text {
  width: 100%;
  height: 775px;
}

.about__art {
  display: flex;
  flex-direction: column-reverse;
}

@media (max-width: 46.24em) {
  .about__art {
    display: none;
  }
}

.about__art__copy {
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  position: relative;
  bottom: 0px;
  text-align: right;
}

.about__text {
  background-color: #d3d2d0;
  padding: 100px 150px;
}

@media (min-width: 46.25em) and (max-width: 61.24em) {
  .about__text {
    padding: 100px 100px;
  }
}

@media (max-width: 46.24em) {
  .about__text {
    padding: 50px;
    width: 100%;
  }
}

.about__text__holder {
  width: 400px;
}

@media (min-width: 20em) and (max-width: 46.24em) {
  .about__text__holder {
    width: 285px;
  }
}

.about__text--subtitle {
  font-size: 1.25rem;
  margin-bottom: 30px;
  display: block;
  font-family: 'Raleway', sans-serif;
}

.about__text__h2 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 3rem;
  margin-bottom: 30px;
  font-family: 'Raleway', sans-serif;
}

.about__text__btn {
  margin-top: 30px;
}

.rev {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #101010;
}

.rev h3 {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.rev__cta__img {
  width: 568px;
  height: 230px;
  display: block;
  transition: opacity 1s;
  background-color: #ffffff;
  background-size: contain;
}

@media (max-width: 46.24em) {
  .rev__cta__img {
    width: 365px;
    height: 143px;
  }
}

.rev__cta__img:hover,
.rev__cta__img:focus {
  opacity: 0.50;
}

.rev__btn {
  margin: 10px 0px 40px 0px;
}

.gallery {
  text-align: center;
  text-decoration: none;
}

@media (min-width: 46.25em) and (max-width: 61.24em) {
  .gallery {
    height: auto;
  }
}

.gallery h2 {
  margin: 20px 0px 0px 0px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.gallery__holder img {
  transition: opacity 1s;
  text-decoration: none;
}

.gallery__holder img:hover {
  opacity: .25;
}

.gallery__holder img:hover + .gallery__text {
  opacity: 1;
}

.gallery__text {
  margin-top: -50%;
  color: #77a0ab;
  opacity: 0;
  transition: opacity 1s;
  text-decoration: none;
  font-weight: 700;
  line-height: 1em;
}

.contact {
  height: 600px;
  display: flex;
  justify-content: center;
  background-size: cover;
}

@media (max-width: 46.24em) {
  .contact {
    display: none;
  }
}

.contact a {
  color: #555769;
}

.contact__container {
  display: flex;
}

.contact__email {
  padding: 30px;
  width: 50%;
}

.contact__h3 {
  color: #101010;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.contact__form {
  width: 50%;
  padding: 30px;
}

#gform_submit_button_1 {
  background-color: #77a0ab;
  color: #ffffff;
  padding: 10px 15px;
  text-transform: uppercase;
  border-radius: 0%;
  border: none;
}

.sidebar__menu {
  align-self: flex-start;
}

.sidebar__menu ul {
  padding: 0px;
}

.sidebar__menu li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.sidebar__menu li a {
  color: #101010;
}

.sidebar__line {
  border-bottom: 1px solid #101010;
  display: block;
  height: 20px;
  width: 30px;
  margin-bottom: 20px;
}

.be--gallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.be--gallery .be--gallery__frame {
  flex-direction: row;
  align-items: center;
  margin: 20px 0px;
  border: 1px solid transparent;
}

.be--gallery .be--gallery__frame .be--gallery__frame__pic {
  width: 200px;
  height: 270px;
  background-size: cover;
  transition: opacity 1s;
}

.be--gallery .be--gallery__frame .be--gallery__frame__title {
  color: #101010;
  text-align: center;
  width: 200px;
}

.be--gallery__frame:hover,
.be--gallery__frame:focus {
  border: 1px solid #101010;
}

.be--gallery__frame:hover .be--gallery__frame__pic,
.be--gallery__frame:focus .be--gallery__frame__pic {
  opacity: .25;
  text-decoration: none;
}

.portrait__frame {
  float: left;
  margin: 0px 20px 10px 0px;
}

.portrait__frame .portrait__credit {
  font-size: .7rem;
}

.portrait__frame .portrait__name,
.portrait__frame .portrait__credit,
.portrait__frame .portrait__artist,
.portrait__frame .portrait__img img {
  width: 200px;
}

.society__text H2, .society__text H3, .society__text H4 {
  border-bottom: 2px #4f6d77 solid;
  box-sizing: border-box;
  width: fit-content;
  padding-bottom: 3px;
}

.society__text h3 {
  font-size: 1.5rem;
}

.grayBG {
  background-color: #d3d2d0;
  padding: 40px 0px;
}

.level3BG {
  background-size: contain;
  background-position: bottom;
  padding: 40px 0px;
  min-height: 400px;
  background-repeat-y: no-repeat;
}

.l3 {
  display: flex;
  justify-content: flex-end;
  align-items: top;
}

.l3 .l3__card {
  width: 50%;
}

.l3 .l3__card .l3__card__copy {
  font-size: .85rem;
}

.l4 {
  overflow: auto;
}

.l4 .alignright {
  float: right;
}

.l4 .alignleft {
  float: left;
}

.l4 .l4__copy--first {
  padding: 70px 0px;
}

.l4 .l4__copy--last {
  width: 75%;
}

.l5 {
  background-color: #77a0ab;
  color: #ffffff;
  padding: 40px 0px;
}

.l5 .l5__cards {
  display: flex;
  justify-content: flex-end;
  align-items: top;
}

.l5 .l5__cards .l5__card {
  width: 50%;
}

.l5 .l5__cards .l5__card p {
  width: 80%;
}

.l5 h4 {
  color: #ffffff;
}

.l6 {
  padding: 40px;
  background-size: cover;
  background-position: center;
}

.l7 {
  padding: 40px 0px;
}

.l7 .l7__cards {
  display: flex;
  justify-content: flex-end;
  align-items: top;
}

.l7 .l7__cards .l7__card {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.l7 .l7__cards .l7__card p {
  width: 80%;
}

.l7 .l7__cards .l7__card .l7__card__img__holder {
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.l7 .l7__cards .l7__card .l7__card__img__holder .l7__car_img {
  width: 50%;
  margin: 0 auto;
}
